
.over {
    border-top: 2px solid white;
}

.dragging {
    position:absolute;
}

.dragging > .link-drag-handle{
    cursor: grabbing !important;
}

.draggable-link {
    display: flex;
    align-items: center;
}

.draggable-link a {
    text-overflow: ellipsis;
    max-width: calc(100% - 75px);
    margin-left: 10px;
    padding-left: 0;
}

.link-drag-handle {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    cursor: grab;
    color: #003594;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.link-drag-handle div {
    height: 2px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #a0bded;
}

.link-drag-handle div:first-of-type {
    margin-top: 10;
}

.edit-link {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
    padding: 2px;
}

.edit-link svg {
    stroke: #a0bded;
    vertical-align: middle;
    transition: 0.25s;
}

.edit-link:hover svg {
    stroke: #ffb81c;
    transition: 0.25s;
}

#add-link {
    width: 100%;
    height: 30px;
    color: #a0bded;
    background-color: transparent;
    border: 2px solid #a0bded;
    border-radius: 10px;
    font: inherit;
    font-size: larger;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s;
}

#add-link:hover {
    transition: all 0.25s;
    background-color: black;
    color: #ffb81c;
    border: 2px solid #ffb81c;
}

.dragging > .item-drag-handle{
    cursor: grabbing !important;
}


.draggable-item a {
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
}

.module-items li.hidden-item {
    background-color: black;
}

.module-items li.hidden-item span::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
}

.module-items li.hidden-item a {
    color: gray;
}

.module-items li.hidden-item h3 {
    color: gray;
}

.item-drag-handle {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-color: transparent;
    cursor: grab;
    color: #003594;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    margin-right: 5px;

}

.item-drag-handle div {
    height: 2px;
    width: 20px;
    margin-top: 5px;
    margin-left: 4px;
    background-color: #a0bded;
}

.item-drag-handle div:first-of-type {
    margin-top: 10;
}

.edit-item {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    padding: 2px;
}

.edit-item svg {
    stroke: #a0bded;
    vertical-align: middle;
    transition: 0.25s;
}

.edit-item:hover svg {
    stroke: #ffb81c;
    transition: 0.25s;
}

.visibility-toggle {
    appearance: none;
    float: right;
    width: 30px;
    height: 30px;
    background-image: url(/static/images/visible.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: 0;
    margin-left: auto;
    transition: all 0.25s;
    cursor: pointer;
}

.visibility-toggle:hover {
    background-image: url(/static/images/visible-hover.svg);
    transition: all 0.25s;
}

.visibility-toggle:checked {
    background-image: url(/static/images/not-visible.svg);
    transition: all 0.25s;
}

.visibility-toggle:checked:hover {
    background-image: url(/static/images/not-visible-hover.svg);
    transition: all 0.25s;
}

.module-buttons {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #424344;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-evenly;
    background-color: #1536a1;
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

.module-top-bar {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
}

.module-drag-handle {
    width: 24px;
    margin: 0 auto;
    align-items: center;
    padding: 5px;
    margin-top: -5px;
    cursor: grab;
}

.module-drag-handle div {
    width: 5px;
    aspect-ratio: 1;
    background-color: #a0bded;
    border-radius: 50%;
    display: inline-block;
    margin: 1.5px;
}

.delete-module {
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(/static/images/Trash.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: 0;
    transition: all 0.25s;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

.delete-module:hover {
    background-color: rgba(0, 0, 0, 0.55);
}


.add-module {
    width: 100%;
    height: 30px;
    color: #a0bded;
    background-color: transparent;
    border: 2px solid #a0bded;
    border-radius: 10px;
    font: inherit;
    font-size: larger;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s;
    margin-top: 30px;
}

.add-module:first-of-type {
    margin-top: 10px;
}

.add-module:hover {
    transition: all 0.25s;
    background-color: black;
    color: #ffb81c;
    border: 2px solid #ffb81c;
}

.module {
    translate: 0;
    margin-top: 20px;
    padding-top: 10px;
}

.hidden-module .module-buttons {
    background-color: #091849;
    border-bottom: 1px solid #767676;
}

.hidden-module summary {
    background-color: #091849;
    color: #73530d;
}

.hidden-module .item-drag-handle div {
    background-color: #48556b;
}

.hidden-module .module-items li.draggable-item input::before{
    content: '';
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
    border-radius: 50%;
    margin-top: 15%;
}

.hidden-module .module-items li.draggable-item input:checked::before{
    content: '';
    width: 100%;
    height: 105%;
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
    margin: 0;
    margin-top: -1px;
}

.hidden-module .module-buttons input.visibility-toggle::before{
    content: '';
    width: 100%;
    height: 76%;
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
    margin-top: 13%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.hidden-module .module-items li.draggable-item span::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: inline-block;
}

.hidden-module .module-items li.hidden-item span::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7975);
    display: inline-block;
}

.hidden-module .module-items li.draggable-item .edit-item svg{
    stroke: #48556b;
}

.hidden-module .module-items li.draggable-item .edit-item:hover svg{
    stroke: #73530d;
}

.hidden-module .module-buttons .edit-module svg{
    stroke: #48556b;
}

.hidden-module .module-buttons .edit-module:hover svg{
    stroke: #73530d;
}

.hidden-module .module-items li.draggable-item h3{
    color: #73530d;
}

.hidden-module .module-items li.draggable-item a{
    color: #48556b;
}

.hidden-module .module-items li.draggable-item.hidden-item a{
    color: #202630;
}

.hidden-module .add-item button {
    color: #48556b;
}

.hidden-module .add-item button:hover {
    color: #73530d;
}

.hidden-module .add-item button:hover div{
    background-color: #73530d;
}

.module-buttons .visibility-toggle {
    margin: 0;
}

.move-module {
    margin: 0;
    cursor: move;
}

.edit-module {
    padding: 2px;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.edit-module svg {
    stroke: #a0bded;
    vertical-align: middle;
    transition: 0.25s;
}

.edit-module:hover svg {
    stroke: #ffb81c;
    transition: 0.25s;
}

.module-editor {
    z-index: 1;
    margin-left: 0;
    position: absolute;
    top: 92px;
    left: 33px;
    right: 6px;
    height: 34px;
    display: flex;
    margin-bottom: 0;
    background-color: #1536a1;
}

.hidden-module .module-editor {
    background-color: #091849;
}

.module-editor input[type="text"] {
    height: 100%;
    width: calc(100% - 80px);
    margin-right: auto;
    background-color: transparent;
    appearance: none;
    border: none;
    color: #ffb81c;
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
}

.hidden-module .module-editor input[type="text"] {
    color: #73530d;
}

.module-editor input[type="submit"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.module-editor input[type="submit"]:hover {
    background-color: #004b00;
}

.module-editor button {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #bf1010;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.module-editor button:hover {
    background-color: #941010;
}

.module-adder {
    z-index: 1;
    margin-left: 0;
    position: absolute;
    top: 92px;
    left: 33px;
    right: 6px;
    height: 34px;
    display: flex;
    margin-bottom: 0;
    background-color: #1536a1;
}

.module-adder input[type="text"] {
    height: 100%;
    width: calc(100% - 80px);
    margin-right: auto;
    background-color: transparent;
    appearance: none;
    border: none;
    color: #ffb81c;
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
}

.module-adder input[type="submit"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.module-adder input[type="submit"]:hover {
    background-color: #004b00;
}

.module-adder button {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #bf1010;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.module-adder button:hover {
    background-color: #941010;
}

#modules>div:last-child {
    margin-top: 20px;
}

.module.dragging {
    margin: 0;
    padding: 0;
    z-index: 1;
    opacity: 0.5;
}

.module details[open] summary {
    border-bottom: 0 !important;
}

.module details.disabled summary {
    pointer-events: none;
    user-select: none;
}

.module-items li {
    border-bottom: 0;
}

.module-items li.add-item {
    border: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

.add-item div {
    height: 3px;
    width: calc(50% - 15px);
    background-color: #424344;
    transition: all 0.25s;
    display: inline-block;
}

.add-item button{
    width: 100%;
    height: 10px;
    color: #a0bded;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: -17px;
    margin-bottom: -17px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.add-item button:hover {
    transition: all 0.25s;
    color: #ffb81c;
}

.add-item button:hover div {
    background-color: #ffb81c;
    transition: all 0.25s;
}

.module-items li.add-item.over {
    border-top: 2px solid white !important;
    z-index: 1;
}

.module-items li.add-item.over button:hover {
    color: #a0bded;
}

.module-items li.add-item.over button:hover div{
    background-color: #424344;
}

.module-items li.dragging .item-drag-handle{
    z-index: 2;
}

.add-item.over button {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #000000CC;
    z-index: 3;
    align-items: center;
    touch-action: auto;
}

html:has(#overlay) #overlay2 {
    background-color: #00000088;
}

html:has(#overlay2) #overlay {
    background-color: #00000088;
}

.dialog {
    width: 500px;
    height: fit-content;
    margin: auto;
    background: #121212;
    overflow: clip;
}

.menu {
    width: 500px;
    height: fit-content;
    margin: auto;
    background: #121212;
    overflow: clip;
}

.overlay h3 {
    background-color: #1536a1;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay .menu {
    width: calc(100% - 4px);
    height: calc(100% - 49px);
    border: 2px solid #ffb81c;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.overlay form {
    padding: 30px;
    margin-bottom: 0;
}

.overlay form label {
    font-size: large;
}

.overlay form input[type="text"], .overlay form input[type="url"] {
    appearance: none;
    display: inline-block;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid #767676;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    background-color: #424344;
    color: white;
    font: inherit;
}

.overlay form select {
    appearance: base-select;
    margin-top: 10px;
    width: stretch;
    height: fit-content;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #424344;
    color: white;
    border: 0.5px solid #767676;
    align-items: center;
    cursor: pointer;
    anchor-name: --select-anchor;
}

.overlay form select.big-select {
    timeline-scope: --scroll;
    animation: --scroll forwards;
    animation-timeline: --scroll;
    container-name: --scroll;
}

.overlay form select:open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.overlay form select::picker-icon {
    transition: rotate 0.25s, translate 0.25s;
}

.overlay form select:open::picker-icon {
    transition: rotate 0.25s, translate 0.25s;
    rotate: 90deg;
    translate: -2px -1px;
}

.scope {
    anchor-scope: --select-anchor;
    display: flex;
}

.create-new {
    margin-top: 10px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #767676;
    background-color: #424344;
    color: white;
    font: inherit;
    border-radius: 15px;
    width: 80px;
    cursor: pointer;
}

.create-new:hover {
    background-color: #222424;
}

.overlay form ::picker(select) {
    appearance: base-select;
    background-color: transparent;
    container-type: anchored;
    position: fixed;
    position-area: bottom center;
    position-anchor: --select-anchor;
    position-try-fallbacks: none;
    border: 0.5px solid #767676;
    border-top: none;
    border-radius: 0 0 15px 15px;
    margin-bottom: 50px;
    overflow-y: auto;
    scroll-timeline: --scroll y;
    width: stretch;
}

.overlay form select option {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 3px;
    padding-left: 15px;
    background-color: #424344;
    color: white;
    border-top: 0.5px solid #767676;
    text-wrap: auto;
}

.overlay form select option:first-of-type {
    border-top: 1px solid white;
}

.overlay form select option:last-of-type {
    border-radius: 0 0 14px 14px;
}

@keyframes --scroll {
    0%,to{--scroll: 1;}
}
@container --scroll style(--scroll: 1) {
    .overlay form ::picker(select) {
        border-bottom-right-radius: 0;
    }

    .overlay form select option:last-of-type {
        border-bottom-right-radius: 0;
    }
}

.overlay form select option::checkmark {
    order: 1;
    margin-left: auto;
    padding-right: 11px;
}

.overlay form select option:hover {
    background-color: #363636;
}

.overlay form select option[disabled] {
    background-color: #121212;
}

.overlay form input[type="submit"].menuSubmit {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: 0.5px solid white;
    color: white;
    appearance: none;
    font: inherit;
    align-items: center;
    float: right;
    background-color: green;
    cursor: pointer;
}

.overlay form input[type="submit"].menuSubmit:hover {
    background-color: #004b00;
}

.overlay form button.menuCancel {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: 0.5px solid white;
    color: white;
    appearance: none;
    font: inherit;
    align-items: center;
    background-color: #424344;
    cursor: pointer;
    float: left;
}

.overlay form button.menuDelete {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    border: 0.5px solid white;
    color: white;
    appearance: none;
    font: inherit;
    align-items: center;
    background-color: #bf1010;
    cursor: pointer;
}

.overlay form button.menuCancel:hover {
    background-color: #222424;
}

.overlay form button.menuDelete:hover {
    background-color: #941010;
}

.overlay form div.buttonHolder {
    text-align: center;
}

#filesystem {
    height: calc(100cqh - 92px);
}

#files {
    height: calc(50% - 7px);
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    overflow-y: auto;
}

#files div {
    position: sticky;
    top: 0;
    background-color: #121212;
}

#music {
    height: calc(50% - 5px);
    overflow-y: auto;
    margin-top: 10px;
}

#music div {
    position: sticky;
    top: 0;
    background-color: #121212;
}

#filesystem h2 {
    display: inline-block;
}

.add-file {
    float: right;
    width: 70px;
    height: 30px;
    margin-right: 10px;
    color: #a0bded;
    background-color: transparent;
    border: 2px solid #a0bded;
    border-radius: 10px;
    font: inherit;
    font-size: larger;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s;
}

.add-file:hover {
    transition: all 0.25s;
    background-color: black;
    color: #ffb81c;
    border: 2px solid #ffb81c;
}

@keyframes highlighted-file {
    from {background-color: #ffb81c;}
    to {background-color: none;}
}

#filesystem table {
    border-collapse: collapse;
    border-spacing: 0;
    width: calc(100% - 10px);
    table-layout: fixed;
    vertical-align: middle;
}

#filesystem thead {
    position: sticky;
    top: 35px;
    background-color: #121212;
    display:block;
    width: calc(10000% / 35);
    container-type: inline-size;
    height: fit-content;
}

#filesystem thead tr {
    display: flex;
    width: 100%;
    height: fit-content;
}

#filesystem th {
    border-right: 2px solid #48556b;
    border-bottom: 2px solid #48556b;
    padding: 5px;
    display: inline-flex;
    height: stretch;
    align-items: center;
    justify-content: center;
}

#filesystem col.title {
    width: 35%;
}

#filesystem col.key {
    width: 30%;
}

#filesystem col.buttoncol {
    width: 30px;
}

#filesystem th.title {
    width: calc(35% - 12px);
}

#filesystem th.key {
    width: calc(30% - 12px);
}

#filesystem th.url {
    width: calc(35% - 42px)
}

#filesystem th.buttoncol {
    width: 20px;
}

#filesystem th.buttoncol {
    border-right: none;
}

#filesystem th:not(.buttoncol):hover {
    background-color: #1c2329;
}

#filesystem tr {
    height: 40px;
}
    
#filesystem tbody tr:hover {
    background-color: #1c2329;
}

#filesystem td {
    padding: 5px;
}

#filesystem td.url {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

#filesystem td.key {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

#filesystem td.button {
    padding: 0;
}

.table-edit-button {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 2px;
}

.table-edit-button svg {
    stroke: #a0bded;
    vertical-align: middle;
    transition: 0.25s;
}

.table-edit-button:hover svg {
    stroke: #ffb81c;
    transition: 0.25s;
}

#fileSelector {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: #424242;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    flex-wrap: nowrap;
    flex-direction: column;
}

#fileSelector p.arrow {
    font-size: 4rem;
    transform: scaleX(1.5) scale(5);
    color: #303030;
    width: fit-content;
    user-select: none;
}

#fileSelector p.text {
    background-color: #424242;
    z-index: 1;
    padding: 45px;
    margin-top: -80px;
    user-select: none;
}

#fileSelector p.file {
    font-size: 3.3rem;
    transform: scaleX(1) scale(2);
    color: #303030;
    width: fit-content;
    user-select: none;
    padding-bottom: 35px;
}

#fileSelectorUgly {
    display: none;
}

    
#fileSubmitter {
    display: block;
    width: calc(100% + 2px);
    height: 50px;
    border: 1px solid white;
    background-color: green;
    color: white;
    font: inherit;
    font-size: inherit;
    border-radius: 30px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#announcements-top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

#announcements-top-bar h2 {
    display: inline-block;
    margin: 0;
}

#announcements-top-bar>button {
    margin-left: 10px;
    appearance: none;
    color: #a0bded;
    background-color: transparent;
    border: 2px solid #a0bded;
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
    min-height: 30px;
    transition: all 0.25s;
}

#announcements-top-bar>button:hover {
    color: #ffb81c;
    border: 2px solid #ffb81c;
    transition: all 0.25s;
}

#edit-announcements {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    margin-top: -47px;
    background-color: #121212;
    position: relative;
}

#edit-announcements p{
    display: inline-block;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
}

#edit-announcements input[type="number"] {
    appearance: none;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid #767676;
    padding-right: 5px;
    margin: 0;
    background-color: #424344;
    color: white;
    font: inherit;
    width: 50px;
    text-align: end;
    margin-left: 10px;
}

#edit-announcements input[type="submit"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

#edit-announcements button.menuCancel {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #bf1010;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#edit-events {
    margin: 0;
    background-color: #121212;
    position: absolute;
    top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
}

#edit-events div {
    flex-basis: 100%;
    height: 10px;
    padding: 0;
    margin: 0;
    border: 0;
}

#edit-events input[type="number"] {
    appearance: none;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid #767676;
    padding-right: 5px;
    margin: 0;
    background-color: #424344;
    color: white;
    font: inherit;
    width: 50px;
    text-align: end;
    margin-left: auto;
}

#edit-events input[type="submit"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

#edit-events button.menuCancel {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #bf1010;
    color: white;
    font: inherit;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

#events-list>ul>button {
    margin-bottom: 10px;
    appearance: none;
    color: #a0bded;
    background-color: transparent;
    border: 2px solid #a0bded;
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    transition: all 0.25s;
}

#events-list>ul>button:hover {
    color: #ffb81c;
    border: 2px solid #ffb81c;
    transition: all 0.25s;
}