@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Lato-Light.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato-Regular.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Lato-Italic.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Lato-Bold.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Lato-BoldItalic.woff2");
    font-display: swap
}

html {
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

html:has(div.overlay), html:has(#sidebar1[style*="display: block;"]) {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #121212;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #a0bded;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

#menubar {
    background-color: #1536a1;
    list-style-type: none;
    width: 84px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position:fixed;
    top:0;
    left:0;
    display: none;
}

#menubar a {
    text-align: center;
    display: block;
    color: #ffffff;
    border-style: none;
    transition: background-color .3s, padding .3s;
}

#menubar a:hover {
    background-color: rgba(0,0,0,0.2);
}

#menubar a:active {
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

#menubar a.active {
    background-color: #121212;
}

#menubar a p {
    line-height: 1.4;
    margin: 3px 0 0;
    padding: 0;
    font-size: 0.875rem;
}

#logo-item {
    height: 150px;
    background-image: url("../images/Glee.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin-bottom: 10px;
    background-color: #1536a1;
}

.icon-container {
    position: relative;
    width: 48px;
    margin: 0 auto;
    color: #ffb81c;
}


.ic-icon-svg {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    fill: #ffb81c;
}

#main-wrapper {
    background-color: #121212;
    height: calc(100dvh - 4.5rem);
}

.flexbox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

iframe {
    flex-grow: 1;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
}

#header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424344;
    padding: 0 10px;
    min-height: 4.5rem;
    box-sizing: border-box;
    background-color: #1536a1;
    position: fixed;
    width: 100%;
    z-index: 2;
    top:0;
}

#sidebar-hamburger {
    margin: 0 23px;
    padding: 0;
    width: 36px;
    height: 36px;
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

#sidebar-hamburger:hover {
    background-color: #0e2267;
}

#sidebar-hamburger div {
    height: 2px;
    width: 24px;
    margin-top: 5px;
    margin-left: 4px;
    background-color: white;
}

#sidebar-hamburger div:first-of-type {
    margin-top: 0;
}

#path {
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    max-width: calc(100% - 165px);
}

#path ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

#path ul li {
    display: none;
    white-space: nowrap;
    vertical-align: top;
    font-size: 1.125rem;
    text-overflow: ellipsis;
    overflow: clip;
}

#path ul li:first-of-type {
    visibility: hidden;
    width: 10px;
    height: 27px;
}

#path a{
    color: white;
}

#path ul li+li::before {
    content: "";
}

#path ul li:nth-child(2), #path ul li:last-child {
    display: block;
}

#path ul li:nth-child(2) a{
    padding-bottom: 22px;
    position: relative;
}

#path ul li:last-child a{
    padding-bottom: 0;
}

#path a:hover {
    text-decoration: underline;
}

#path ul li a .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    line-height: inherit;
    max-width: 100px;
}

#mobile-cal-button {
    text-align: center;
    color: white;
    padding: 10px;
}

#mobile-cal-button p {
    margin: 0;
    margin-top: 5px;
}

#mobile-cal-button:hover {
    background-color: #0e2267;
}

#mobile-login-button {
    text-align: center;
    color: white;
    padding: 10px;
    width: 62.53px;
}

#mobile-login-button p {
    margin: 0;
    margin-top: 5px;
}

#mobile-login-button:hover {
    background-color: #0e2267;
}

#right-of-path {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}

#main {
    flex: 1 0 auto;
    min-width: 1px;
    box-sizing: border-box;
    height: 100%;
}

#sidebar1 {
    display:none;
    overflow: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    padding: 0;
    transition: transform 1s ease-in-out;
    transition-delay: .75s;
    box-sizing: border-box;
    position: fixed;
    top: 72px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    background-color: #000000CC;
}

#sidebar2 {
    border-top: 0 !important;
    max-height: calc(100dvh - 72px);
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    text-align: center;
    background-color: #0e2267;
    border-bottom: 2px solid #424344;
}

#sidebar2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar2 ul li {
    padding: 0;
}

#sidebar2 ul li a {
    display: block;
    text-decoration: none;
    padding: 8px;
    word-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.5;
    font-size: 16pt;
}

#sidebar2 ul li a:hover {
    text-decoration: underline;
}

#sidebar2 ul li a:focus {
    outline-offset: .0625rem;
    outline-color: #c6ccf0;
    outline-width: 2px;
    outline-style: solid;
}

#sidebar2 ul li a.active {
    display: inline-block;
    border-bottom: 2px solid #3d4247;
    border-radius: 0px;
    font-weight: bold;
    color: #d1e1ef;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

#big-wrapper {
    display: flex;
    box-sizing: border-box;
    min-width: 1px;
    max-width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#content-wrapper {
    flex-grow: 1;
    min-width: min(100%, 560px);
    box-sizing: border-box;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
}

#content {
    margin: 10px;
    flex-grow: 1;
}

#right-side-wrapper {
    display:block;
    position: relative;
    min-width: 240px;
    box-sizing: border-box;
    padding: 24px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    flex-grow: 0.9;
}

/* @media screen and (max-width: 1139px) {
    #right-side-wrapper {
        display: none;
    }
} */

#right-side {
    position: relative;
    min-height: 20px;
}

#events-list {
    margin-top: 18px;
    margin-bottom: 18px;
}

#events-list div {
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #424344;
    overflow: hidden;
}

#events-list div h2 {
    display: inline-block;
    margin: 0 0 6px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-style: none;
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
    line-height: 1.5;
}

#events-list div a {
    float: right;
    font-size: 0.75rem;
    font-weight: normal;
}

#events-list div a::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    background: url("../images/SmallCalendar.svg") no-repeat 50% 50%;
    background-size: 16px 16px;
    vertical-align: middle;
}

#events-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: -6px 0 12px;
}

#events-list ul li {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#events-list ul li p {
    display: block;
    font-size: 16pt;
    margin: 0;
}

#events-list ul li small {
    display: block;
    font-size: 0.8125rem;
    margin-top: 5px;
}

#events-list ul li small.date {
    display: inline-block;
    width: fit-content;
}

#announcements {
    margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

#content h2 {
    margin: 0 0 0.75rem;
    line-height: 1.25;
    font-size: 1.75rem;
    font-weight: 400;
}

.announcement {
    border-bottom: 1px solid #e8eaec;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.announcement:first-of-type {
    border-top: 1px solid #e8eaec;
}

.announcement>span {
    margin: 0 0.75rem 0 0;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

.announcement span .circle {
    margin: 0;
    max-width: 100%;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    overscroll-behavior: auto;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
    font-size: 0.75rem;
    white-space: nowrap;
    border-radius: 999rem;
    background-color: #003594;
    width: 0.75rem;
    height: 0.75rem;
}

.announcement .author span {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    overscroll-behavior: auto;
    height: 2.5em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 0;
    text-align: center;
    font-size: 1rem;
    width: 2.5em;
    position: relative;
    border-radius: 100%;
    background-image: url(https://canvas.pitt.edu/images/messages/avatar-50.png);
    border: 0px;
    box-shadow: rgba(45, 59, 69, 0.12) 0px 0px 1rem 0px inset;
}

.announcement .content {
    min-width: 0;
    flex-grow: 1;
    margin: 0 22px;
}

.announcement .content a {
    display: block;
    outline-width: .125rem;
    outline-color: transparent;
    outline-style: solid;
    color: inherit;
}

.content-body {
    width: auto;
    text-overflow: ellipsis;
}

.announcement .content h3 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 4px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    line-height: 1.25;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-body :is(h1,h2,h3,h4,h5,h6,p) {
    display: inline !important;
    font-size: 16px !important;
    line-height: 1 !important;
}

.content-body :is(ul,ol) {
    display: inline !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-body li {
    display: inline !important;
}

.content-body blockquote {
    display: inline;
    margin: 0;
}

.content-body pre {
    display: inline;
}

.content-body code {
    display: inline !important;
    white-space: nowrap;
}

.content-body br {
    content: " ";
    display: none;
}

.content-body hr {
    display: none;
}

.announcement .content div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    min-height: 5px;
    max-width: 100%;
}

.announcement .content a div span {
    margin: 0.5rem 0 0;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

.announcement .content a div span span {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #aaaaaa;
    letter-spacing: 0px;
    font-size: 1rem;
}

.announcement .content a div span span svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: inline-block;
    overflow: visible;
    color: inherit;
    vertical-align: middle;
    line-height: 1;
}

.announcement .meta {
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: 90px;
    max-width: 230px;
}

.announcement .meta .actions {
    height: 23px;
}

.announcement .meta .actions span {
    vertical-align: text-bottom;
    margin-left: 10px;
    margin-right: 2px;
    outline-width: .125rem;
    outline-color: transparent;
    outline-style: solid;
    display: inline-block;
    color: gray;
    cursor: pointer;
}

.announcement .meta div+div div>span p {
    font-weight: 600;
    margin: 3px 0 0;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    font-size: 0.875rem;
}

.announcement .meta div+div div span+span p {
    font-weight: normal;
    margin: 3px 0 0;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bbbbbb;
    letter-spacing: 0px;
    font-size: 0.875rem;
    white-space: pre-line;
}

#announcement {
    box-sizing: border-box;
    overflow: visible;
    overscroll-behavior: auto;
    border: 1px solid #343436;
    border-radius: 4px;
    padding: 36px;
    padding-bottom: 12px;
    margin: 0 0 0.75rem;
}

#announcement-header {
    display: inline-block;
}

#author {
    margin: 5px;
    font-weight: 700;
}

#date {
    padding: 5px;
    letter-spacing: 0px;
    font-size: 0.875rem;
    margin: 0;
}

#profile {
    border: 2px solid #70757d;
    border-radius: 50%;
    color: #7298d8;
    line-height: 2.375em;
    font-weight: 700;
    letter-spacing: 0.0313em;
    font-size: 1.25rem;
    display: block;
    height: 46px;
    width: 46px;
    margin-right: 0.75rem;
    float: left;
    padding: 0;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
}

#announcement-content {
    padding: 0 0 12px 6px;
    margin-top: 12px;
}

#announcement-content h1 {
    line-height: 1.25;
    font-size: 28px;
    font-weight: 400;
    margin: 12px 0;
}

#announcement-content h2 {
    line-height: 1.25;
    font-size: 26px;
    font-weight: 400;
    margin: 12px 0;
}

#announcement-content h3 {
    line-height: 1;
    font-size: 24px;
    font-weight: 400;
    margin: 12px 0;
}

#announcement-content h4 {
    line-height: 1.25;
    font-size: 22px;
    font-weight: 400;
    margin: 12px 0;
} 

#announcement-content h5 {
    line-height: 1.25;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 0;
} 

#announcement-content h6 {
    line-height: 1.25;
    font-size: 18px;
    font-weight: 400;
    margin: 12px 0;
} 

#announcement-content p {
    margin: 12px 0;
}

#announcement-content ul {
    padding-left: 16px;
}

#announcement-content ol {
    padding-left: 16px;
}

#announcement-content li {
    margin: 4px 0;
}

#announcement-content blockquote {
    margin-left: 0;
    padding-left: 12px;
    border-left: 4px solid #5e5f66;
    border-radius: 2px;
}

#announcement-content code {
    background-color: black;
    color: white;
    padding: 2px;
    border: 1px solid #343436;
    border-radius: 5px;
}

#announcement-content span.mention {
    background-color: #5865f299;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
    margin: 1px;
}

.emoji {
    height: 1.5em;
}

.codehilite code {
    display:block;
    padding: 4px !important;
}

.module {
    margin-top: 15px;
    margin-bottom: 15px;
}

.module summary {
    background-color: #1536a1;
    border: 1px solid #424344;
    padding: 18px 6px;
    padding-left: 35px;
    color: #ffb81c;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    list-style-type: none;
    position: relative;
}

.module details[open] summary::after {
    content: '▼';
    font-size: 18px;
    position: absolute;
    left: 11px;
    transition: 0.25s;
    rotate: 0deg;
}

.module summary::after {
    content: '▼';
    font-size: 18px;
    position: absolute;
    left: 11px;
    transition: 0.25s;
    rotate: -90deg;
}

.module-items {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.module-items li {
    display: flex;
    padding: 12px 6px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #424344;
    color: #fffbd1;
    border-top: 0;
    align-items: center;
}

.module-items li:hover {
    background-color: #1c2329;
}

.module-items li span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.module-items li a {
    margin-left: 5px;
    margin-top: 2px;
    line-height: 1.3;
    font-weight: bold;
    color: #a0bded;
    text-decoration: none;
}

.module-items li a:hover {
    text-decoration: underline;
}

.module-items li h3 {
    font-weight: bold;
    display: inline;
    font-size: 1.125rem;
    margin: 10px 6px;
}

.module-header {
    background-color: #222424;
    color: #ffb81c !important;
}

.module-header span {
    display: none;
}

.module-link span {
    background-image: url("../images/Hyperlink.svg")
}

.module-file span {
    background-image: url("../images/Attachment.svg")
}

.module-music span {
    background-image: url("../images/Music.svg")
}

.module-page span {
    background-image: url("../images/Page.svg")
}

.module-announcement span {
    background-image: url("../images/Announcement.svg")
}

.adminlink:first-of-type {
    border-top: 2px solid white;
    margin-top: 10px;
}

.adminlink {
    display: block;
    padding-top: 15px;
    font-size: 16pt;
}

.adminlink:hover {
    text-decoration: underline;
}

#login-page {
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    width: min(99%, 400px);
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-iframe {
    position:absolute;
    height: 100%;
    top: 0;
    left: 0;
}