{% extends "admin_index.html" %}

{% block path %}{% endblock %}

{% block sidebar_links %}
    {% for link in links %}
        <li class="draggable-link">
            <div class="link-drag-handle">
                <div></div>
                <div></div>
            </div>
            {% if link.type == 'external' %}
            <a link-id="{{ link.id }}" href="{{ link.url }}" target="_blank">{{ link.display_name }}</a>
            {% elif link.type == 'page' %}
            <a link-id="{{ link.id }}" href="{{ url_for('page', id= link.url) }}">{{ link.display_name }}</a>
            {% elif link.type == 'internal' %}
            <a link-id="{{ link.id }}" href="{{ url_for(link.url) }}">{{ link.display_name }}</a>
            {% elif link.type == 'file' %}
            <a link-id="{{ link.id }}" href="{{ url_for('file', key= link.url) }}">{{ link.display_name }}</a>
            {% elif link.type == 'announcement' %}
            <a link-id="{{ link.id }}" href="{{ url_for('announcement', id= link.url) }}">{{ link.display_name }}</a>
            {% elif link.type == 'music' %}
            <a link-id="{{ link.id }}" href="{{ url_for('music', key= link.url) }}">{{ link.display_name }}</a>
            {% else %}
            <a link-id="{{ link.id }}">Failed</a>
            {% endif %}
            <button class="edit-link" type="button" onclick="editLink(this.parentNode)">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 400 400">
                    <g>
                        <path id="svg_6" d="m167.78745,30.3895c0,0 -68.70836,-0.74997 -72,-0.66667c-12.24984,0.04169 -30.66667,6.66667 -49.33334,23.33334c-18.66666,16.66666 -27.08334,39.4587 -27.33333,49.33333c-0.37499,17.87432 -1.33333,205.33333 -1.33333,205.33333c-0.62498,11.62456 8,34 26,50.66667c18,16.66667 46,22.66667 54.66666,22.66667c96,0 172.79159,-0.54175 192,-1.33334c19.20841,-0.79159 46.66666,-16.99999 58,-28.66666c11.33334,-11.66667 19.74985,-27.83362 19.87485,-36.04181c0.20834,-15.54152 0.79182,-83.95819 0.79182,-83.95819" opacity="NaN" stroke-width="31" fill="none"/>
                        <g id="svg_14">
                            <path id="svg_8" d="m124.12078,272.3895c0,0 64.99519,-7.84425 64.99519,-7.84425c20.17092,-1.12061 170.33221,-171.45282 170.33221,-171.45282c0,0 43.70366,-34.73881 10.08546,-68.35701c-29.13577,-27.45486 -66.11579,16.2488 -66.11579,16.2488c0,0 -161.36736,159.12615 -161.92766,159.12615c-16.8091,12.32667 -17.3694,72.27913 -17.3694,72.27913z" opacity="NaN" stroke-width="30" fill="none"/>
                            <path id="svg_9" d="m143.1711,193.94704c0,0 56.03033,61.63337 56.03033,61.63337" opacity="NaN" stroke-width="20" fill="none"/>
                            <path id="svg_10" d="m309.02088,32.01937c0,0 56.03034,61.63336 56.03034,61.63336" opacity="NaN" stroke-width="20" fill="none"/>
                        </g>
                    </g>
                </svg>
            </button>
        </li>
    {% endfor %}
    <li><button id="add-link" onclick="addLink()">+</button></li>
{% endblock %}

{% block right_display %}
{% endblock %}

{% block calendar_events %}
    {% for item in calendarItems %}
    <li>

    </li>
    {% endfor %}
{% endblock %}

{% block main_content %}
    <div id="announcements">
        <h2>Recent Announcements</h2>
        {% for announcement in announcements %}
            <div class="announcement" announcement-id="{{ announcement.id }}">
                <span>
                    <span class="circle"></span>
                </span>
                <div class="author">
                    <span>
                        
                    </span>
                </div>
                <div class="content">
                    <a href="{{ url_for('announcement', id=announcement.id) }}">
                        <h3>
                            {{ announcement.title }}
                        </h3>
                    </a>
                    <div class="content-body">
                        {{ announcement.content | safe }}
                    </div>
                </div>
                <div class="meta">
                    <div class="actions">
                        <span></span>
                    </div>
                    <div>
                        <div>
                            <span>
                                <p>Posted on:</p>
                            </span>
                            <span>
                                <p>{{ announcement.date_posted }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="modules">
        <h2>Modules</h2>
        <button class="add-module" onclick="addModule(this)">+</button>
        {% for module in modules %}
            <div class="module draggable-module {% if module.hidden %} hidden-module {% endif %}" module-id="{{ module.id }}">
                <div class="module-buttons">
                    <div class="module-top-bar">
                        <div class="module-drag-handle">
                            <div></div><div></div><div></div><div></div><div></div><div></div>
                        </div>
                    </div>
                    <button class="edit-module" type="button" onclick="editModule(this.firstElementChild)">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 400 400">
                            <g>
                                <path id="svg_6" d="m167.78745,30.3895c0,0 -68.70836,-0.74997 -72,-0.66667c-12.24984,0.04169 -30.66667,6.66667 -49.33334,23.33334c-18.66666,16.66666 -27.08334,39.4587 -27.33333,49.33333c-0.37499,17.87432 -1.33333,205.33333 -1.33333,205.33333c-0.62498,11.62456 8,34 26,50.66667c18,16.66667 46,22.66667 54.66666,22.66667c96,0 172.79159,-0.54175 192,-1.33334c19.20841,-0.79159 46.66666,-16.99999 58,-28.66666c11.33334,-11.66667 19.74985,-27.83362 19.87485,-36.04181c0.20834,-15.54152 0.79182,-83.95819 0.79182,-83.95819" opacity="NaN" stroke-width="31" fill="none"/>
                                <g id="svg_14">
                                    <path id="svg_8" d="m124.12078,272.3895c0,0 64.99519,-7.84425 64.99519,-7.84425c20.17092,-1.12061 170.33221,-171.45282 170.33221,-171.45282c0,0 43.70366,-34.73881 10.08546,-68.35701c-29.13577,-27.45486 -66.11579,16.2488 -66.11579,16.2488c0,0 -161.36736,159.12615 -161.92766,159.12615c-16.8091,12.32667 -17.3694,72.27913 -17.3694,72.27913z" opacity="NaN" stroke-width="30" fill="none"/>
                                    <path id="svg_9" d="m143.1711,193.94704c0,0 56.03033,61.63337 56.03033,61.63337" opacity="NaN" stroke-width="20" fill="none"/>
                                    <path id="svg_10" d="m309.02088,32.01937c0,0 56.03034,61.63336 56.03034,61.63336" opacity="NaN" stroke-width="20" fill="none"/>
                                </g>
                            </g>
                        </svg>
                    </button>
                    <input type="checkbox" class="visibility-toggle" {% if module.hidden %} checked {% endif %} onclick="toggleModuleVisibility(this)">
                    <button class="delete-module" onclick="delModule(this)"></button>
                </div>
                <details open>
                    <summary> {{ module.display_name }}</summary>
                    <ul class="module-items">
                        <li class="add-item"><button onclick="addItem(this.parentNode)"><div></div>+<div></div></button></li>
                        {% for item in module.blocks %}
                            <li class="module-{{item.type}} draggable-item {% if item.hidden %} hidden-item {% endif %}" item-id="{{ item.id }}">
                                <div class="item-drag-handle">
                                    <div></div>
                                    <div></div>
                                </div>
                                <span></span>
                                {% if item.type == "header" %}
                                    <h3>{{ item.display }}</h3>
                                {% elif item.type == "link"%}
                                    <a href="{{ item.url }}" target="_blank">{{ item.display }}</a>
                                {% elif item.type == "file" %}
                                    <a href="{{ url_for('file', key=item.url) }}">{{ item.display }}</a>
                                {% elif item.type == "music" %}
                                    <a href="{{ url_for('music', key=item.url) }}">{{ item.display }}</a>
                                {% elif item.type == "page" %}
                                    <a href="{{ url_for('page', id= item.url) }}">{{ item.display }}</a>
                                {% elif item.type == "announcement" %}
                                    <a href="{{ url_for('announcement', id= item.url) }}">{{ item.display }}</a>
                                {% endif %}
                                <input type="checkbox" class="visibility-toggle" {% if item.hidden %} checked {% endif %} onclick="toggleItemVisibility(this)">
                                <button class="edit-item" type="button" onclick="editItem(this.parentNode)">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 400 400">
                                        <g>
                                            <path id="svg_6" d="m167.78745,30.3895c0,0 -68.70836,-0.74997 -72,-0.66667c-12.24984,0.04169 -30.66667,6.66667 -49.33334,23.33334c-18.66666,16.66666 -27.08334,39.4587 -27.33333,49.33333c-0.37499,17.87432 -1.33333,205.33333 -1.33333,205.33333c-0.62498,11.62456 8,34 26,50.66667c18,16.66667 46,22.66667 54.66666,22.66667c96,0 172.79159,-0.54175 192,-1.33334c19.20841,-0.79159 46.66666,-16.99999 58,-28.66666c11.33334,-11.66667 19.74985,-27.83362 19.87485,-36.04181c0.20834,-15.54152 0.79182,-83.95819 0.79182,-83.95819" opacity="NaN" stroke-width="31" fill="none"/>
                                            <g id="svg_14">
                                                <path id="svg_8" d="m124.12078,272.3895c0,0 64.99519,-7.84425 64.99519,-7.84425c20.17092,-1.12061 170.33221,-171.45282 170.33221,-171.45282c0,0 43.70366,-34.73881 10.08546,-68.35701c-29.13577,-27.45486 -66.11579,16.2488 -66.11579,16.2488c0,0 -161.36736,159.12615 -161.92766,159.12615c-16.8091,12.32667 -17.3694,72.27913 -17.3694,72.27913z" opacity="NaN" stroke-width="30" fill="none"/>
                                                <path id="svg_9" d="m143.1711,193.94704c0,0 56.03033,61.63337 56.03033,61.63337" opacity="NaN" stroke-width="20" fill="none"/>
                                                <path id="svg_10" d="m309.02088,32.01937c0,0 56.03034,61.63336 56.03034,61.63336" opacity="NaN" stroke-width="20" fill="none"/>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </li>
                            <li class="add-item"><button onclick="addItem(this.parentNode)"><div></div>+<div></div></button></li>
                        {% endfor %}
                    </ul>
                </details>
            </div>
            <button class="add-module" onclick="addModule(this)">+</button>
        {% endfor %}
        <div></div>
    </div>
    
{% endblock %}