{% extends "index.html" %}

{% block title %}Announcements | Admin View{% endblock %}

{% block path %}
    <li>
        <a href="#">
            <span>Announcements (Admin)</span>
        </a>
    </li>
{% endblock %}

{% block right_display %}
    display: none;
{% endblock %}

{% block main_content %}
    <div id="announcements-top">
        <div id="filters">
            <h3>Filters:</h3>
            <form>
                <div id="filter-section">
                    <input type="radio" id="filterBefore" name="filter" value="before">
                    <label for="filterBefore">Before Date</label>
                    <input type="radio" id="filterAfter" name="filter" value="after">
                    <label for="filterAfter">After Date</label>
                    <input type="radio" id="filterBetween" name="filter" value="between">
                    <label for="filterBetween">Between Dates</label><br>
                </div>
                <div id="date-section">
                    <label for="afterDate">From: </label>
                    <input type="date" id="afterDate" name="after" disabled>
                    <label for="beforeDate">To: </label>
                    <input type="date" id="beforeDate" name="before" disabled>
                </div>
                <input type="reset" id="reset" value="Reset">
                <input type="submit" id="apply" value="Apply Filters">
            </form>
        </div>
        <div id="selectorButtons">
            <button type="button" onclick="deleteAnnouncements()" id="delete-announcements">Delete Selected</button>
            <button type="button" onclick="selectAllAnnouncements(false)" id="deselect-announcements">Deselect All</button>
            <button type="button" onclick="selectAllAnnouncements()" id="select-announcements">Select All</button>
        </div>
    </div>
    <div id="announcements">
        {% for announcement in announcements %}
            <div class="announcement" data-date="{{ announcement.jsDate }}" data-id="{{ announcement.id }}">
                <span>
                    <span class="circle"></span>
                </span>
                <div class="author">
                    <span {% if announcement.avatar %} style="background-image: url({{announcement.avatar}})" {% endif %}></span>
                </div>
                <div class="content">
                    <a href="{{ url_for('announcement', id= announcement.id) }}">
                        <div>
                            <h3>
                                {{ announcement.title }}
                            </h3>
                        </div>
                    </a>
                    <div class="content-body">
                        {{ announcement.content | safe }}
                    </div>
                </div>
                <div class="meta">
                    <div class="actions">
                        <input type="checkbox" class="announcement-check">
                    </div>
                    <div>
                        <div>
                            <span>
                                <p>Posted on:</p>
                            </span>
                            <span>
                                <p>{{ announcement.date_posted }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block extra_scripts %}
<script class="toDelete">
    document.querySelectorAll('div.announcement').forEach((div) => {
        let stuff = div.dataset.date.split('-');
        div.date = new Date(Date.UTC(parseInt(stuff[0]), parseInt(stuff[1]) - 1, parseInt(stuff[2])));
        div.identifier = div.dataset.id;
    })
</script>
{% endblock %}