{% extends "index.html" %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block path %}
    <li>
        <a href="{{ url_for('announcements') }}">
            <span>Announcements</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span id="title">{{announcement.title}}</span>
        </a>
    </li>
{% endblock %}

{% block right_display %}
    display: none;
{% endblock %}

{% block main_content %}
    <div id="announcement">
        <div id="announcement-header">
            <span id="profile" {% if announcement.avatar %} style="background-image: url({{announcement.avatar}})"></span>{% else %}>{{ announcement.initial }}</span>{% endif %}
            <div style="float:left">
                <p id="author">{{ announcement.author }}</p>
                <p id="date">Posted {{ announcement.date_posted }}</p>
            </div>
        </div>
        <div id="announcement-content">
            {{ announcement.content | safe }}
        </div>
    </div>    
{% endblock %}