{% extends "index.html" %}

{% block title %}Calendar{% endblock %}

{% block path %}
    <li>
        <a href="#">
            <span>Calendar</span>
        </a>
    </li>
{% endblock %}

{% block right_display %}
    display: none
{% endblock %}

{% block main_content %}
    <iframe id="calendar-iframe" src="https://calendar.google.com/calendar/embed?height=900&wkst=1&ctz=America%2FNew_York&showPrint=0&mode=WEEK&showTitle=0&showTz=0&showCalendars=0&src=Y2M0NzE4MDQ4NDk0YWY3MmYyYmI0YzFiMmYyMzI1NzgwNGVhZjczZjYwNDQzMWFhYmE3NjVkYWNkOTg0MjM3YkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23ebac00" frameborder="0" scrolling="no"></iframe>
{% endblock %}