{% extends "index.html" %}

{% block title %}Calendar{% endblock %}

{% block path %}
    <li>
        <a href="#">
            <span>Calendar</span>
        </a>
    </li>
{% endblock %}

{% block right_display %}
    display: none
{% endblock %}

{% block main_content %}
    <div class="flexbox">
        <iframe id="calendar-iframe" src="https://calendar.google.com/calendar/embed?height=900&wkst=1&ctz=America%2FNew_York&showPrint=0&mode=WEEK&showTitle=0&showTz=0&showCalendars=0&src={{configs.calendarID}}&color=%23ebac00" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}